include ../mixins/mixins
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{pagetitle}

        block links
        //- link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
        link(rel="stylesheet", href="/css/main.css")
    body 
        .mian 
            nav.header 
                a.headericon(href="/") 
                    span Home
                a.headericon(href="/") 
                    span abc
                a.headericon(href="/profile") 
                    span abc
                //- a(href="/setting") 
                //-     i.fa.fa-cogs
                a.headericon(href="/logout") 
                    span abc

        block content 

                   
        
        script(src='https\://kit.fontawesome.com/74b9bcd0be.js' crossorigin='anonymous')

        script(src='https://code.jquery.com/jquery-3.6.4.min.js', integrity='sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=', crossorigin='anonymous')
        script(src='https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js', integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin='anonymous')
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js', integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl', crossorigin='anonymous')

        block scripts
        script(src="/js/common.js") 