extends layouts/main-layout.pug

block links
    link(rel="stylesheet", href="/css/content.css")

block content 

     .content 
        div.contentHeading 
           h1 #{result.name}
        .topics
          each item in data
           +createTopicList(item)

block scripts
    script(src="/js/content.js")           