extends layouts/main-layout.pug

block links
    link(rel="stylesheet", href="/css/content.css")

block content 
    .outer
     .index 
        div.contentHeading 
           h1 #{result.name}
        div.indexTopics
          each item in data
           +createTopicList(item)
     .content   
        
     
block scripts
    script(src="/js/content.js")           