extends layouts/main-layout.pug

block links 
    link(rel="stylesheet", href="/css/home.css")

block content
 .mainWrapper
   .sectionWrapper
      .sectionHeading 
         span Courses
      section.courseSection
      
      .sectionHeading 
         span Section Name
      section.studyMaterialSection
        each item in result 
            +createStudyMaterialCard(item)
   .registerSection    
        .loginform
          form.loginForm( method="post" action="/login") 
            p.errorMessage #{errorMessage}
            input#email(type="text", name="logusername" , placeholder="username or email", required="")
            input#password(type="password", name="logpassword", placeholder="password", required="")

            div.loginbutton
             input.login(type="submit", value="login")
            a(href="/register") Need  an account?  
block scripts
    script(src="/js/home.js")
    script(src="/js/upload.js")