body{
    background:linear-gradient(322deg, rgb(24 120 255),rgb(255 255 255));
}
.wrapper {
    height: 899px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.loginform{
    padding: 20px;
    width: 80%;
    height: 75%;
    max-width: 500px;
    border: 1px solid #dedede;
    border-radius: 10%;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 1px 4px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.3);
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input[type="text"],
input[type="email"],
input[type="password"]{
    padding: 5px 10px;
    margin-bottom: 25px;
    border: 1px solid #dedede;
    border-radius: 10px;
    background-color: #f2f2f2;
    width:100%;
}
#needAccount{
    margin-top: 25px;
    display: block;
}
input[type="submit"]{
    background-color: #09f;
    color: #fff;
    border: none;
    width: 46%;
    border-radius: 4px;
    height: 42px;   
    margin-top: 30px;
}

.loginbutton{
    height: 100px;
}
.errorMessage{
    margin-bottom: 30px;
}